.upload {
  background-color: #202020;
  margin: 32px auto 40px;
  padding: 48px 60px 60px;
  width: 600px;
}

.upload > h2 {
  color: #bdbdbd;
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.upload > h4 {
  color: #ff4755;
  float: right;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

.upload h3 {
  color: #d4006a;
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin: 24px 0 16px;
  text-transform: uppercase;
}

.upload-row {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 24px;
}

.upload-row:not(:last-child) {
  margin: 0 0 20px;
}

.upload-row > div {
  flex: 1;
}

.upload-row > div:not(:last-child) {
  margin: 0 24px 0 0;
}

.upload-details-label {
  color: #f5f5f5;
  display: block;
  font-size: 14px;
  margin: 0 0 4px;
}

.upload-select, .upload-input {
  background-color: #f5f5f5;
  border: 1px solid #424242;
  border-radius: 4px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  height: 36px;
  outline: none;
  padding: 0 12px;
  width: 100%;
}

.upload-select:focus, .upload-input:focus {
  border-color: #d4006a;
  box-shadow: 0 0 2px #d4006a;
}

.upload-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.upload-switch-label {
  color: #f5f5f5;
  font-size: 14px;
  vertical-align: middle;
}

.upload-switch-input {
  display: none;
}

.upload-switch-input + label {
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  height: 24px;
  position: relative;
  width: 40px;
}

.upload-switch-input + label:after {
  background-color: white;
  border-radius: 20px;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: 0.3s;
  width: 20px;
}

.upload-switch-input:checked + label {
  background-color: #d4006a;
}

.upload-switch-input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.upload-radio {
  background-color: #f5f5f5;
  border: 1px solid #424242;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  height: 36px;
  outline: none;
  padding: 0;
  width: 100%;
}

.upload-radio > div {
  flex: 1;
  position: relative;
  text-align: center;
  z-index: 1;
}

.upload-radio > div:not(:last-child) {
  border-right: 1px solid #424242;
}

.upload-radio input {
  display: none;
}

.upload-radio label {
  cursor: pointer;
  display: block;
  line-height: 34px;
}

.upload-radio input:checked + label {
  color: #f5f5f5;
}

.upload-radio input:checked + label:before {
  background-color: #d4006a;
  border-radius: 2px;
  bottom: 2px;
  content: "";
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: -1;
}

.upload-submit {
  background-color: #d4006a;
  border: none;
  border-radius: 4px;
  color: #f5f5f5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  height: 36px;
  margin: 20px 0 0;
  outline: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
}

.upload-submit:hover {
  box-shadow: 0 0 2px #d4006a;
}

.upload-message {
  background-color: #202020;
  border: 1px solid #424242;
  border-radius: 4px;
  margin: 20vh auto 0;
  padding: 24px 28px;
  width: 500px;
}

.upload-message > h3 {
  color: #d4006a;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 20px;
}

.upload-message > p {
  color: #bdbdbd;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 8px;
}

.upload-message ul {
  margin: 0;
  padding: 0 0 0 40px;
}

.upload-message li {
  color: #bdbdbd;
  font-size: 14px;
  margin: 4px 0;
}

.upload-message button {
  background-color: #d4006a;
  border: none;
  border-radius: 4px;
  color: #f5f5f5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  height: 32px;
  margin: 12px 0 0;
  outline: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
}

.upload-message button:hover {
  box-shadow: 0 0 2px #d4006a;
}

.upload-instructions {
  color: #bdbdbd;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.upload-media {
  border-bottom: 1px solid #424242;
  padding: 20px 0;
}

.upload-media:first-child {
  border-top: 1px solid #424242;
  margin-top: 12px;
}

.upload-media > label {
  color: #f5f5f5;
  display: block;
  font-size: 16px;
}

.upload-image {
  display: flex;
  flex-direction: row;
  margin: 8px 0 12px;
}

.upload-image > div {
  background-color: #424242;
  flex: 1;
  height: 108px;
}

.upload-image > div:not(:last-child) {
  margin: 0 12px 0 0;
}

.upload-media > textarea {
  background-color: #f5f5f5;
  border: 1px solid #424242;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 18px;
  outline: none;
  padding: 8px 12px;
  resize: none;
  width: 100%;
}

.upload-media > textarea:focus {
  border-color: #d4006a;
  box-shadow: 0 0 2px #d4006a;
}

.upload-media-label {
  display: block;
  cursor: pointer;
  height: 100%;
  text-align: center;
  width: 100%;
}

.upload-media-label > svg {
  height: 20px;
  margin-left: -2px;
  vertical-align: middle;
  width: 20px;
}

.upload-media-label > span {
  color: #ffadd6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-left: 4px;
  vertical-align: middle;
}

.upload-media-file {
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.upload-media-file > img, .upload-media-file > video {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  vertical-align: middle;
}

.upload-media-file > button {
  background: none;
  border: 1px solid #ff4755;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  visibility: hidden;
}

.upload-media-file > button > svg {
  height: 20px;
  padding: 2px;
  vertical-align: middle;
  width: 20px;
}

.upload-media-file:hover > button {
  visibility: visible;
}

.upload-video {
  margin: 8px 0 0;
}

.upload-video > div {
  background-color: #424242;
  height: 108px;
  width: 192px;
}

.upload-back {
  background: none;
  border: none;
  color: #d4006a;
  cursor: pointer;
  float: left;
  font-size: 12px;
  margin: 20px 0 0;
  outline: none;
  padding: 0;
  text-transform: uppercase;
}

.upload-help {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  height: 16px;
  outline: none;
  padding: 0;
  width: 16px;
}

.upload-help > svg {
  height: 100%;
  width: 100%;
}

.upload-loader {
  height: inherit;
  text-align: center;
  width: inherit;
}

.upload-progress {
  background-color: #202020;
  border: 1px solid #424242;
  border-radius: 4px;
  display: inline-block;
  margin: 24vh auto 0;
  padding: 24px 10px 18px;
  text-align: left;
}

.upload-progress > h3 {
  color: #d4006a;
  font-size: 16px;
  font-weight: normal;
  margin: 0 18px 20px;
}

.upload-progress > p {
  color: #bdbdbd;
  font-size: 14px;
  line-height: 18px;
  margin: 0 18px 4px;
}

.upload-progress .ldBar-label {
  display: none;
}