.nade-list {
  display: inline-block;
  font-size: 0;
  list-style: none;
  max-width: 1600px;
  padding: 20px 20px 80px;
}

.load-more-button {
  background: none;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  cursor: pointer;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  height: 40px;
  margin: 24px auto 0;
  outline: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
}

.load-more-button:focus, .load-more-button:hover {
  color: #f5f5f5;
}