.scroll {
  height: inherit;
  overflow: auto;
  text-align: center;
  width: inherit;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vertical {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}