.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.scroll {
  height: inherit;
  overflow: auto;
  width: inherit;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vertical {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}