@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body, #root {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

div {
  margin: 0;
  padding: 0;
}